[MASTER]
ignore=.git,__pycache__,.venv,venv,build,dist,node_modules
ignore-patterns=test_.*?py

[MESSAGES CONTROL]
disable=C0111,C0103,R0913,R0914,W0212,W0703

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-args=7
max-locals=15
max-returns=6
max-branches=12
