name: Deploy UI Project to Firebase Hosting

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: deployment-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install UI Dependencies
        working-directory: ./stock-platform-ui-new
        run: npm ci
      - name: Build UI Project
        working-directory: ./stock-platform-ui-new
        run: npm run build
        env:
          CI: false
          
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          projectId: stockplatform-fe563 
          repoToken: '${{ secrets.GITHUB_TOKEN }}' 
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_BINGL_WEBSITE }}'
          channelId: live 
          # site: stockplatform-fe563 # 이 줄을 제거하여 경고를 없앱니다.